html, * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.emoji {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-position: center;
    margin: -1.75px 0;
}
.emoji-smile {
    background-image: url(../images/emoji-1f604.png);
}
.emoji-pointing {
    background-image: url(../images/emoji-261d.png);
}

header {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 12px;
    left: 25px;
}
footer .copyright {
    margin: -25px 0 0 25px;
    font-style: italic;
    color: #999;
}

/* .tdesktop */

.tdesktop,
.tdesktop * {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    cursor: default;
}
.tdesktop input {
    -webkit-touch-callout: text;
      -webkit-user-select: text;
       -khtml-user-select: text;
         -moz-user-select: text;
          -ms-user-select: text;
              user-select: text;
    cursor: text;
}

.tdesktop {
    margin: 50px;
    margin-right: 0;
    width: 902px;
    box-shadow: 0 0 15px #ccc;
    display: inline-block;
}

.tdesktop .topbar {
    width: 902px;
    background: #f1f1f1;
    color: #ababab;
    border-bottom: #eeeeee;
}
.tdesktop .topbar .caption-box {
    overflow: hidden;
    width: 72px;
    margin-left: 830px;
}
.tdesktop .topbar .caption-box .btn {
    display: block;
    float: left;
    width: 24px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    background: transparent;
}
.tdesktop .topbar .caption-box .btn-close {
    line-height: 18px;
}
.tdesktop .topbar .caption-box .btn-minimize:hover,
.tdesktop .topbar .caption-box .btn-maximize:hover {
    background: #e5e5e5;
    color: #9a9a9a;
}
.tdesktop .topbar .caption-box .btn-close:hover {
    background: #e81123;
    color: #fff;
}

.tdesktop .container .side {
    border-right: #e7e7e7 1px solid;
    overflow: hidden;
    width: 312px;
}

.tdesktop .container .side .navbar .drawer,
.tdesktop .container .main.chat .btn {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 7px;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    box-sizing: border-box;
    color: #a8a8a8;
}
.tdesktop .container .side .navbar .drawer,
.tdesktop .container .side .navbar .drawer *,
.tdesktop .container .main.chat .btn,
.tdesktop .container .main.chat .btn * {
    cursor: pointer;
}
.tdesktop .container .main.chat .btn {
    margin: 5px 1px;
}
.tdesktop .container .side .navbar .drawer:hover,
.tdesktop .container .side .navbar .drawer:active,
.tdesktop .container .main.chat .btn:hover,
.tdesktop .container .main.chat .btn:active {
    color: #999;
}
.tdesktop .container .side .navbar .drawer:active,
.tdesktop .container .main.chat .btn:active {
    background: #f1f1f1;
}

.tdesktop .container .side .navbar .search-box input {
    margin: 11px;
    margin-left: 0;
    padding: 8px 11px;
    border-radius: 2px;
    border: 2px solid #f1f1f1;
    box-sizing: border-box;
    height: 32px;
    width: 236px;
    color: #000;
    background: #f1f1f1;
}
.tdesktop .container .side .navbar .search-box input:focus {
    border-color: #54c3f3;
    background: #fff;
}

.tdesktop .container .side .list {
    clear: both;
    overflow: hidden;
    width: 312px;
}

.tdesktop .container .side .list ul {
    list-style: none;
    overflow: hidden;
    width: 312px;
}

.tdesktop .container .side .list li {
    display: block;
    overflow: hidden;
    width: 312px;
    height: 62px;
    color: #919191;
}
.tdesktop .container .side .list li,
.tdesktop .container .side .list li * {
    cursor: pointer;
}
.tdesktop .container .side .list li:hover {
    background: #f1f1f1;
}
.tdesktop .container .side .list li.active,
.tdesktop .container .side .list li.active .title {
    background: #419fd9;
    color: #fff;
}

.tdesktop .container .side .list > div {
    position: absolute;
}

.tdesktop .container .side .list .avatar {
    display: block;
    width: 46px;
    height: 46px;
    color: #fff;
    border-radius: 23px;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 0;
    text-align: center;
    box-sizing: border-box;
    margin: 8px 10px;
    position: absolute;
}

.tdesktop .container .side .list li:nth-of-type(1) .avatar { background: #e17076; }
.tdesktop .container .side .list li:nth-of-type(2) .avatar { background: #faa774; }
.tdesktop .container .side .list li:nth-of-type(3) .avatar { background: #e5ca77; }
.tdesktop .container .side .list li:nth-of-type(4) .avatar { background: #7bc862; }
.tdesktop .container .side .list li:nth-of-type(5) .avatar { background: #6ec9cb; }
.tdesktop .container .side .list li:nth-of-type(6) .avatar { background: #65aadd; }
.tdesktop .container .side .list li:nth-of-type(7) .avatar { background: #a695e7; }
.tdesktop .container .side .list li:nth-of-type(8) .avatar { background: #ee7aae; }

.tdesktop .container .side .list .corner-unread {
    display: block;
    width: 19px;
    height: 19px;
    color: #fff;
    border-radius: 9px;
    font-size: 12px;
    padding: 2px 0;
    text-align: center;
    box-sizing: border-box;
    background: #40a7e3;
}
.tdesktop .container .side .list .muted .corner-unread {
    background: #bbb;
}

.tdesktop .container .side .list .title,
.tdesktop .container .side .list .preview {
    margin-left: 66px;
    margin-top: 10px;
    font-size: 14px;
}
.tdesktop .container .side .list .title {
    color: #000;
}
.tdesktop .container .side .list .preview {
    margin-top: 5px;
    font-size: 12px;
}

.tdesktop .container .side .list .time {
    margin: -38px 10px 0 0;
    text-align: right;
    font-size: 12px;
}

.tdesktop .container .side .list .corner {
    margin: 8px 0 0 283px;
    font-size: 12px;
}
.tdesktop .container .side .list .corner.corner-read,
.tdesktop .container .side .list .corner.corner-pin {
    line-height: 22px;
}

.tdesktop .container .main.chat {
    overflow: hidden;
    width: 590px;
    height: 550px;
    position: absolute;
    left: 363px;
    top: 70px;
}

.tdesktop .container .main.chat .title-bar {
    overflow: hidden;
    width: 590px;
    height: 54px;
    border-bottom: #e7e7e7 1px solid;
    box-sizing: border-box;
    padding: 0 8px;
}
.tdesktop .container .main.chat .title-bar,
.tdesktop .container .main.chat .title-bar * {
    cursor: pointer;
}

.tdesktop .container .main.chat .title-bar > div {
    float: left;
}

.tdesktop .container .main.chat .title-bar .btn {
    float: right;
}

.tdesktop .container .main.chat .title-bar .title,
.tdesktop .container .main.chat .title-bar .status {
    position: absolute;
    font-size: 12px;
}
.tdesktop .container .main.chat .title-bar .title {
    margin: 10px 8px;
    font-weight: bold;
}
.tdesktop .container .main.chat .title-bar .status {
    margin: 28px 8px;
    color: #168acd;
}

.tdesktop .container .main.chat .msg {
    height: 448px;
    background: url(../images/background.jpg) no-repeat center;
    background-size: cover;
}
.tdesktop .container .main.chat .msg > div:nth-child(1) {
    margin-top: 0;
}
.tdesktop .container .main.chat .msg > div {
    border-radius: 5px;
    background: #fff;
    margin: 8px auto;
    width: auto;
    max-width: 430px;
    display: table;
    box-sizing: border-box;
    font-size: 13px;
}
.tdesktop .container .main.chat .msg .msg-left {
    margin-left: 16px;
}
.tdesktop .container .main.chat .msg .msg-right {
    margin-right: 16px;
    background: #effdde;
}

.tdesktop .container .main.chat .msg .msg-date {
    padding: 4.5px 12.5px;
    border-radius: 12.5px;
    background-color: #5e9d63;
    background-color: rgba(94, 157, 99, 0.5);
    color: #fff;
}

.tdesktop .container .main.chat .msg p {
    padding: 7px 16px;
}

.tdesktop .container .main.chat .msg .msg-reply {
    margin: 12px 16px 0;
    padding: 0 8px;
    border-left: #37a1de 2px solid;
}
.tdesktop .container .main.chat .msg .msg-reply .title {
    color: #37a1de;
    padding-bottom: 0;
}
.tdesktop .container .main.chat .msg .msg-reply p {
    padding: 0;
}

.tdesktop .container .main.chat .msg div time,
.tdesktop .container .main.chat .msg .record .record-current {
    color: #a0accf;
}
.tdesktop .container .main.chat .msg .msg-right time,
.tdesktop .container .main.chat .msg .record.msg-right .record-current {
    color: #78c67f;
}

.tdesktop .container .main.chat .msg div time {
    float: right;
    margin-top: -20px;
    margin-right: 12px;
    font-size: 12px;
}
.tdesktop .container .main.chat .msg .msg-right time {
    margin-right: 0;
}
.tdesktop .container .main.chat .msg .msg-right.msg-read time::after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    width: 1.28571429em;
    text-align: center;
    content: '\f00c';
    margin-left: 4px;
    margin-right: 12px;
}
.tdesktop .container .main.chat .msg .msg-overlap {
    padding-right: 60px;
}
.tdesktop .container .main.chat .msg .msg-overlap time {
    margin-right: -60px;
}

.tdesktop .container .main.chat .msg .record {
    height: 68px;
    width: 294px;
}
.tdesktop .container .main.chat .msg .record,
.tdesktop .container .main.chat .msg .record * {
    cursor: pointer;
}

.tdesktop .container .main.chat .msg .record time {
    margin-top: -10px;
}

.tdesktop .container .main.chat .msg .record .record-play {
    color: #78c67f;
    font-size: 44px;
    float: left;
    margin: 8px 10px;
}

.tdesktop .container .main.chat .msg .record .record-wave {
    height: 19px;
    width: 200px;
    overflow: hidden;
    margin: 15px 0 8px;
}
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar {
    display: block;
    background: #b3e2b4;
    width: 2px;
    height: 1px;
    float: left;
    margin-right: 1px;
}
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-played {
    background: #78c67f;
}
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-2  { height: 2px;  margin-top: 17px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-3  { height: 3px;  margin-top: 16px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-4  { height: 4px;  margin-top: 15px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-5  { height: 5px;  margin-top: 14px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-6  { height: 6px;  margin-top: 13px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-7  { height: 7px;  margin-top: 12px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-8  { height: 8px;  margin-top: 11px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-9  { height: 9px;  margin-top: 10px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-10 { height: 10px; margin-top: 9px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-11 { height: 11px; margin-top: 8px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-12 { height: 12px; margin-top: 7px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-13 { height: 13px; margin-top: 6px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-14 { height: 14px; margin-top: 5px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-15 { height: 15px; margin-top: 4px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-16 { height: 16px; margin-top: 3px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-17 { height: 17px; margin-top: 2px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-18 { height: 18px; margin-top: 1px; }
.tdesktop .container .main.chat .msg .record .record-wave .record-wave-bar-19 { height: 19px; margin-top: 0px; }

.tdesktop .container .main.chat .input {
    box-sizing: border-box;
    height: 46px;
    width: 590px;
}
.tdesktop .container .main.chat .input > div {
    float: left;
}
.tdesktop .container .main.chat .input .inputbox input {
    border: none;
    box-sizing: border-box;
    width: 460px;
    height: 46px;
    padding: 4px 8px;
}

/* /.tdesktop */

/* .editor */

.editor {
    margin-left: 50px;
    width: 800px;
    height: 570px;
    box-shadow: 0 0 15px #ccc;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
}

.editor > div {
    margin: 8px;
}
.editor label {
    display: inline-block;
    width: 150px;
}
.editor #background {
    width: 500px;
}
.editor #background-reset {
    width: 100px;
}

@media screen and (max-width: 1850px) {
    .editor {
        margin-left: 100px;
    }
}

/* /.editor */
